{% extends "base.html" %}
{% block content %}


<div class="col-md-6 offset-md-3">

    <div class="card">
  <div class="card-header">
    <strong>{{ customer_record.first_name }}
        
    </strong>
  </div>
  <div class="card-body">
    <p class="card-text">        
        <strong>ID: </strong> {{ customer_record.id }}<br/>
    </p> 
    <p class="card-text"> 
        <strong>Sold AT </strong> {{ customer_record.sold_At }}<br/>
    </p>
    <p class="card-text"> 
        <strong>Product Price </strong> {{ customer_record.product_Price }}<br/>

    </p>
    <p class="card-text"> 
        <strong>Selling Price </strong> {{ customer_record.selling_price }}<br/>
    </p>
    <p class="card-text">
        <strong>Purchase Price </strong> {{ customer_record.perchase_price }}<br/>
    </p>
    <p class="card-text"> 
        <strong> Quantity </strong> {{ customer_record.quantity }}<br/>
    </p>
    <p class="card-text"> 
        <strong>Warranty Period </strong> {{ customer_record.warranty_period }}<br/>
    </p>
    <p class="card-text"> 
        <strong>Brand </strong> {{ customer_record.brand }}<br/>
    </p>
  </div>
</div><br/>

<a href="{% url 'homepage' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
    

</div>


{% endblock %}
